body {
    background: #32363d;
    background-size: cover;
}

.row {
    text-align: center;
    width: 100%;
}

table {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.playlistTable {
    text-align: left;
    border-style: hidden;
    padding: 15px;
    border-bottom-color: transparent;
}

.button:hover {
    background-color: #30842e /* Darker green */
    color: white;
}

#playlistDiv {
    /* centers the playlist div */
    position: absolute;
    left: 50%;
    margin-left: -100px;
}
