body {
    background: #32363d;
    background-size: cover;
}

.row {
    text-align: center;
    width: 100%;
}

table {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.playlistTable {
    text-align: left;
    border-style: hidden;
    padding: 10%;
    border-bottom-color: transparent;
}

.button:hover {
    background-color: #30842e /* green */
    color: white;
}

#viewPlaylistDiv {
    centers the playlist div
    position: absolute;
<<<<<<< HEAD
    left: 50%;
    margin-left: -100px;
} */

.yaxis line {
    stroke: white;
}
=======
    left: 10%;
}

.tableRow {
    cursor: pointer;
}

.tableRow:hover {
    background-color: #82d7e8 /* Darker green */
}

.fa-spotify:before {
    content: "\f1bc";
}

#spotify-button {
    background-color: #84bd00;
    color: #000000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-color: #000000;
}

#blurb {
    color: #FFFFFF;
}
>>>>>>> a6fe59190a8874733fcd2e7e876a867d71027468
