body {
    background: #303030;
    background-size: cover;
}

.row {
    text-align: center;
    width: 100%;
}

table {
    color: white;
}

.playlistTable {
    text-align: left;
    border-style: hidden;
    padding: 15px;
    border-bottom-color: transparent;
}
